.container{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
	background-image: url("../../imagenes/fondo-form.png") ;
    background-color: rgba(238, 238, 238, 0.5);
	background-size: cover;
	background-position: center;    
}
.descriptionContainer{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(248, 208, 99, 0.9);
    /* color:#346fee; */
	/* font-family:'Montserrat', sans-serif; */
	/* font-size:14px; */
	/* font-weight:bold; */
    align-items: center;
    text-align: justify;
}
.idHealtContainer{
    font-family: 'Montserrat', sans-serif;
    color:#346fee;
    font-weight:bold;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    /* padding: 15px; */
    background-color: rgba(248, 208, 99, 0.9);
}
.tiposDietaContainer{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    /* padding: 15px; */
    background-color: rgba(248, 208, 99, 0.9);
}
.pasosContainer{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    /* padding: 15px; */
    background-color: rgba(248, 208, 99, 0.9);
    text-align: left;
}
.pasosContainer h3{
    text-align: center;
}

.imageContainer img{
    margin-top: 10px;
    box-shadow: 0 0 10px black;
}

.deleteUpdateContainer{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5px;
    background-color: rgba(248, 208, 99, 0.9);
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    gap: 10px;
}
