.navButtons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid black;
	/* box-shadow: 0 0 10px rgb(105, 63, 0); */
	/* background-image: linear-gradient(to top, #f6d365 0%, #fda085 100%); */
	background-image: linear-gradient(to top, #ffffff 0%, #f6d365 100%);
	/* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
}
.navButtons button{
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #fdf6e7 5%, #e7eefd 100%);
	background-color:#fdf6e7;
	border-radius:10px;
	border:2px solid #1f271b;
	display:inline-block;
	cursor:pointer;
	color:#346fee;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:5px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

}
.navButtons button:hover{
    background:linear-gradient(to bottom, #e7eefd 5%, #fdf6e7 100%);
	background-color:#e7eefd;
}
.navButtons button:active{
    position:relative;
	top:1px;
}
.navButtons a:link{
    text-decoration: none;
}